<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <div class="index">
    <%- include("./partials/header.ejs") %>
    <div class="indexTitle">
        <h2>Local Adoptable Animals</h2>
    </div>
    <div class="container">
        <div class="cards">
            <ul>
                <% for (let i=0; i < allPosts.length; i++) { %>
                <li>
                    <a href="/posts/<%= allPosts[i].id %>">
                        <img src="<%= allPosts[i].img %>"/> 
                        <%= allPosts[i].name %>
                    </a>
                </li>
            <% } %>
            </ul>
        </div>  
    </div>
</div>
</body>

</html>