<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= post.name.toUpperCase() %></h2>
    <img src="<%= post.img %>"/>
    <h2><%= post.age %></h2>
    <p><%= post.description %></p>
    <% if (post.trained === true) { %>
        <span><%= post.name %> is trained</span>
    <% } else { %>
        <span><%= post.name %> is not trained</span>
    <% } %>
    <h2><%= post.breed %></h2>

    <a href="/posts">Back to Animals</a>

</body>
</html>