<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container-show">
    <div class="name-show">
        <h2><%= post.name.toUpperCase() %></h2>
        <img src="<%= post.img %>" class="img-show"/>
    </div>
    <div class="info-show">
        <h2>Age: <%= post.age %></h2>
        <p>Description: <%= post.description %></p>
        <% if (post.trained === true) { %>
            <span><%= post.name %> is trained</span>
        <% } else { %>
            <span><%= post.name %> is not trained</span>
        <% } %>
        <h2>Breed: <%= post.breed %></h2>
        <button class="edit"><a href="/posts/<%= post.id %>/edit" class="edit">EDIT INFO</a></button>
        <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
            <input type="submit" value="DELETE" class="btn2"/>
        </form>
    </div>
    </div>
 <hr>
    <button class="btn-post"><a href="/posts" class="btn-post">Back to Animals</a></button>

</body>
</html>